################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocAssistRuntime/obj
/DocAssistShared/obj
/FileEnumerator/bin
/RenameEnumerator/bin
/RenameEnumerator/obj
/FileEnumerator/obj
